# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Database
DATABASE_PATH=data/valorant-bot.db

# Riot Sign On
# These will be filled in after Riot grants production / RSO access.
RIOT_CLIENT_ID=
RIOT_CLIENT_SECRET=
RIOT_REDIRECT_URI=